@font-face {
    font-family: 'SF Pro Regular'; 
    src: url('SF-Pro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Bold'; 
    src: url('SF-Pro-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/night.jpg') ;
    background-size: cover;
    font-family: 'SF Pro Bold';
    transition: background-image 1s ease-in-out;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 800px;
    height: 730px;
    padding: 2rem;
}

.top {
    display: flex;
    position: relative;
    height: 220px;
    width: 780px;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 10rem;
    color: black;

}

.degree{
     display: flex;           
    justify-content: center;
    align-items: center; 
    flex-direction: column;    
    
    
}
.deg-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.middle {
    width: 100%;
    height: 350px;

}

.days {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.hours-container {
    display: flex;

    width: 100%; 
    margin-left: -30px; 
    margin-right: -30px;
    
    gap: 1rem;
    overflow-x: auto;
    
    padding-left: 30px;
    padding-right: 30px; 
    
    scroll-padding-inline: 30px;

    padding-bottom: 3rem;
    scroll-behavior: smooth;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hrs-container::-webkit-scrollbar {
    display: none;             
}

.hr-container {
    justify-content: center;
    text-align: center;
    width: 121px;
    height: 190px;
    flex-shrink: 0;

}

button {
    font-family: inherit;
    width: 200px;
    height: 43px;
    cursor: pointer;
    outline: none;
    scrollbar-width: thin;
    transition: transform 0.2s ease;
    
}
button:active {
    transform: scale(0.95); 
}

button.active-day {
    background-color: white;
}

.bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}

.container, .hr-container, .wind-info, .rain-info, button {
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    border: 1px white solid;
    backdrop-filter: blur(30px);
}

.container{
    border: none;
        background: rgba(255, 255, 255, 0.139);


}
.wind-info, .rain-info{
    display: flex;
    font-family: 'SF Pro Regular';
    width: 320px;
    padding: 1rem;
    justify-content: space-between;
    font-size: 22px;
}

#user-location {
    text-transform: uppercase;
    font-size: 28px;
    text-align: end;
}

#current-temperature{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 96px;
    height: 96px;
}

.loc-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;
}

form {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

input {
    color: rgba(60, 60, 67, 0.60);
    text-align: center;
    border: none;
    width: 162px;
    height: 24px;
    background: rgba(235, 235, 245, 0.60);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

input:-webkit-autofill {
    transition: background-color 5000000s ease-in-out 0s;
}

img{
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;;
    padding: 5px;
}

#current-time {
    background: white;
}